{{define "projectItem"}}
<div id="project-item-{{.Slug}}" class="project-item">
    <a class="project-link"
      href="/projects/{{.Slug}}"
      hx-get="/projects/{{.Slug}}"
      hx-target="#content"
      hx-indicator=".main-htmx-indicator"
      hx-push-url="true"
    >
      <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
      <span>{{.Title}}</span>
    </a>
</div>
{{end}}
